.first__nav {
    height: 6.5rem;
    z-index: 0;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.second__nav {
    height: 6rem;
    z-index: 0;
    margin-right: 4rem;
    margin-left: 10rem;
    border-bottom: 1px solid rgb(230, 230, 230);
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0.5rem 3rem 0.5rem 8rem;
    overflow-y: hidden;
}

.greater {
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    background-color: rgb(255, 255, 255);
    z-index: 20;
    display: flex;
    align-items: center;
}
.horizentel__scroll {
    display: inline-block;
}

.second__nav::-webkit-scrollbar-thumb {
    width: 0;
}

.scroll-text {
    font-size: 1.5rem;
    background-color: rgba(212, 212, 212, 0.5);
    border: 1px solid rgb(202, 202, 202);
    padding: 0 1.2rem;
    border-radius: 1.4rem;
    display: flex;
    align-items: center;
    height: 4rem;
    margin-top: 0.8rem;
    margin-right: 1rem;
}
.nav-container {
    width: 96%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0px auto;
    position: fixed;
    top: 0%;
    left: 2.8rem;
    height: 6.5rem;
}

.navbars__bar-icon {
    color: var(--icons-color);
    font-size: 2.6rem;
    font-weight: 300 !important;
    cursor: pointer;
}

.nav_youtube-icon {
    z-index: 16;
}

.youtube-icon {
    margin-top: -0.19rem;
    width: 10rem;
    padding-left: 0.7rem;
    margin-left: 2rem;
}

.nav_youtube-search {
    display: flex;
    align-items: center;
    width: 20rem;
    flex-grow: 1;
    margin-left: 12rem;
    margin-right: 5rem;
}
@media only screen and (max-width: 900px) {
    .nav_youtube-search {
        margin-left: 8rem;
    }
}
@media only screen and (max-width: 600px) {
    .nav_youtube-search {
        margin-left: 5rem;
    }
}

.youtube-search_input {
    width: 100%;
    padding: 1.2rem;
    font-weight: 400;
    font-size: 1.7rem;
    margin-right: 0.5rem;
    border: 2px solid var(--primary-color);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.youtube-search_input:focus {
    border: 0.2px solid var(--primary-color);
    outline: 0.2px solid var(--primary-color);
}

.nav-search-btn {
    text-align: center;
    margin: 0;
    padding: 0rem;
}

.nav-search-btn a {
    text-decoration: none;
    padding: 1.2rem 2.5rem;
    margin-left: -0.6rem;
    font-size: 1.8rem;
    color: var(--icons-color);
    border: 2px solid var(--primary-color);
    background-color: rgb(245, 243, 243);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.nav-search-btn a:hover {
    background-color: rgb(235, 235, 235);
}

.nav-icon {
    font-size: 2rem;
    display: inline-block !important;
    color: var(--icons-color);
    cursor: pointer;
}

.nav-icons {
    width: 22rem;
    display: flex;
    justify-content: flex-end;
}
